@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #FF8904;            /* Vibrant Orange */
  --color-primary-content: #ffffff;

  --color-secondary: #FFB347;          /* Soft Orange */
  --color-secondary-content: #1E1E1E;

  --color-accent: #FF6600;             /* Stronger Accent Orange */
  --color-accent-content: #ffffff;

  --color-neutral: #2F2F2F;            /* Charcoal Gray */
  --color-neutral-content: #F3F4F6;

  --color-base-100: #ffffff;
  --color-base-200: #f9fafb;           /* Very Light Gray */
  --color-base-300: #f3f4f6;
  --color-base-content: #1e293b;

  --color-info: #3ABFF8;               /* Light Blue */
  --color-success: #22C55E;            /* Green for Success */
  --color-warning: #FACC15;            /* Warm Yellow */
  --color-error: #EF4444;              /* Red for Errors */
}



*{
   font-family: "Poppins", sans-serif;
}